@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @if (Model != null)
    {
        @foreach (var product in Model)
        {
            <div class="col-3 mb-3">
                <div class="card shadow">
                    <img class="card-img-top" src=@product.PhotoPath alt="...">
                    <div class="card-body text-center">
                        <a class="text-success" href="/product/index/@product.Id">
                            <h5>@product.Name</h5>
                        </a>
                        <h2 class="text-danger">@product.Cost.ToString("c")</h2>
                        <a class="btn btn-success"
                           asp-controller="Cart"
                           asp-action="Add"
                           asp-route-productId="@product.Id">
                            Добавить в корзину
                        </a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>Нет товаров для отображения!</h2>
    }
</div>