@model Product
@{
    ViewData["Title"] = "Добавление товара";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Добавление нового товара</h2>
</div>

<form method="post">
    <div class="row justify-content-center mt-3">
        <div class="col-6 mb-3">
            <p>
                <label class="form-label">Наименование товара</label><br />
                <input class="form-control" placeholder="Наименование товара" name="name" />
            </p>
            <p>
                <label class="form-label">Цена, руб.</label><br />
                <input class="form-control" placeholder="Цена, руб." name="cost" />
            </p>
            <p>
                <label class="form-label">Описание товара</label><br />
                <input class="form-control" placeholder="Описание товара" name="description" />
            </p>
        </div>
    </div>
    <div class="text-center m-3">
        <button class="btn btn-outline-success" type="submit">
            Добавить
        </button>
    </div>
</form>