@model Product
@{
    ViewData["Title"] = "Редактирование товара";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Редактирование товара</h2>
</div>

<form method="post">
    <div class="row justify-content-center mt-3">
        <div class="col-6 mb-3">
            <input type="hidden" name="Id" value="@Model.Id" />
            <p>
                <label class="form-label">Наименование товара</label><br />
                <input class="form-control" placeholder="Наименование товара" value="@Model.Name" name="name" />
            </p>
            <p>
                <label class="form-label">Цена, руб.</label><br />
                <input class="form-control" placeholder="Цена, руб." value="@Model.Cost" name="cost" />
            </p>
            <p>
                <label class="form-label">Описание товара</label><br />
                <input class="form-control" placeholder="Описание товара" value="@Model.Description" name="description" />
            </p>
        </div>
    </div>
    <div class="text-center m-3">
        <button class="btn btn-outline-success" type="submit">
            Редактировать
        </button>
    </div>
</form>